.bottom-details {
  width: 100%;
  background: #112020;
}

.bottom-details .bottom_text {
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}

.bottom-details .bottom_text a:hover {
  opacity: 1;
  text-decoration: underline;
}

.bottom-details .bottom_text a {
  margin-right: 10px;
}

.designed-developed {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 768px) {
  .bottom-details .bottom_text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .designed-developed {
    padding: 10px 0px 0px 0px;
  }

  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a {
    font-size: 12px;
  }
}


.designed-developed img {
  width: auto;
  height: auto;
  max-width: 80%;

  max-height: 100%;
}